<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Калькулятор</title>-->
<!--</head>-->
<!--<body>-->
<!--  <form method="post">-->
<!--    <input type="number" name="num1" placeholder="Введите 1 ое число" required>-->
<!--    <input type="number" name="num2" placeholder="Введите 2 ое число" required><br>-->
<!--    <select name="operation">-->
<!--        <option value="addition">Сложение</option>-->
<!--        <option value="subtraction">Вычитание</option>-->
<!--        <option value="multiplication">Умножение</option>-->
<!--        <option value="division">Деление</option>-->
<!--    </select>-->
<!--    <button type="submit">Вычислить</button>-->

<!--  </form>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Калькулятор</title>
</head>
<body>
    <form method="post">
        <input type="number" name="num1" placeholder="Введите первое число" required>
        <input type="number" name="num2" placeholder="Введите первое второе" required>
        <select name="operation">
            <option value="addition">Сложение</option>
            <option value="subtraction">Вычитание</option>
            <option value="multiplication">Умножение</option>
            <option value="division">Деление</option>
        </select>
        <button type="submit">Вычислить</button>
    </form>
</body>
</html>